@font-face{
    font-family: "beyno";
    src: url(/assets/fonts/beyno/BEYNO.otf);
  }
  @font-face{
      font-family: "wakanda";
      src: url(/assets/fonts/wakanda.ttf);
  }
  @font-face{
    font-family: "Cantarell";
    src: url(/assets/fonts/Cantarell-Bold.ttf);
  }
  /* Design la partie header*/
  body{
    background-image: url(../Plan_footer/arrière_plan.png);
    width: 100% 100%;
  }
  #haut{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    display: flex;
    margin-top: 40px;
  }
  /* Navigateur */
  nav ul{
    list-style-type: none;
    color: white;
    display: flex;
  }
  nav li{
    margin-right: 15px;
  }
  nav a{
    font-size: 20px;
    color: #FFFFFF;
    padding-bottom: 3px;
  }
  #haut .lien nav{
    display: flex;
    list-style-type: initial;
    font-family: "beyno";
  }
  #haut .nav li{
    margin-right: 15px;
  }
  /* Design la partie haut enigme*/
  #enigme{
    display: flex;
    justify-content: center;
  }
  #enigme .text-corps{
    justify-content: left;
    margin : left;
    text-align: left;
    padding: 50vh;
  }
  #enigme .trans{
    justify-content: left;
    height: 30%;
    padding: 10vh;
  }
  #enigme .text-corps p{
    height: 20%;
    position: absolute;
    padding: 40vh;
  }
  .photo-enigme{
    display: flex;
    justify-content: center;
    position: absolute;
    height: 1400px;
    width: 70%;
  }
  .text-corps .titre{
  font-family: "beyno";
  font-size: 60px;
   width: 70vw;
   padding: 10vh;
   text-align: 30px;
    color: #F2CEF2;
  }
  .text-corps{
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: 60%;
    margin-left: 20%;
  }
  .text-corps .cran{
    justify-content: center;
    width: 10px;
    margin-top: 15%;
  }
  .text-corps .trans{
    justify-content: center;
    text-align: right;
    margin-top: 5%;
    position: absolute;
  }
  /* Design de la deuxieme partie Corps enigme*/
  .corps-a{
    display: flex;
    justify-content: center;
    
  }
  .corps-a .slide-enigme{
    justify-content: center;
    font-family: "wakanda";
    width: 100%;
    padding: 30px;
    height: 80%;
    font-size: 20px;
    text-align: 25px
  }
  .corps-a .slide-enigme li{
    font-family: 'beyno';
    font-size: 40px;
    list-style-type: none;
    color: #DF99F2;

  }
  .corps-a .slide-enigme span{
    font-family: 'Canterell';
  }

  .corps-a .slide-enigme p_1 {
    justify-content: center;
    font-family: 'Cantarell';
    padding: 20px;
    width: 30%;
    height: 30%;
    font-size: 20px;
    margin: 0 auto;
  }
  .corps-a .slide-enigme .bin{
    font-family: 'Canterell';

  }
  .corps-a .slide-enigme p_2 {
    font-family: 'wakanda';
    font-size: 35px;

  }

  .corps-a .text-enigme{
    justify-content: left;
    width: 40vw;
   
  }
  .corps-a .text-enigme .transcrit{
    justify-content: center;
    position: absolute;
    margin-right: 6%;
    width: 60vw;
    height: 10vh;
    text-align: right 30%;
  }
  .corps-a .text-enigme .eng{
    
    justify-content: center;
    width: 50vh;
    padding: 200px;
    text-align: center;
    margin-left: 90px;
  }

/* Design formulaire enigme*/
#Infoline .form {
  justify-content: center;
  padding: 10vh;
  height: 30%;
  font-size: 32px;
  margin-bottom: 32px;
  border-radius: 20px;
}
#Infoline h1{
  justify-content: center;
  size: 20px;
}
#Infoline .action input{
  justify-content: center;
  text-align: 20%;
  border: 1px solid #DF99F2;
  border-radius: 40px;
  width: 40vw;
  height: 5vh;
}
#contact #contenue_contact input {
  display: block;
  width: 300px;
  margin-top: 20px;
  border: solid 1px #021740;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: transparent;
}

#contact #contenue_contact input:focus{
  outline: none;
}

#contact #contenue_contact input::placeholder {
  color: #021740;
  font-size: small;
}
#contact #contenue_contact #input_message {
  padding-bottom: 150px;
}

#contact button {
  width: 100px;
  padding: 10px 0px;
  color: #021740;
  border-radius: 30px;
  border: none;
  background-color: #debbe8f4;
  box-shadow: 1px 1px 20px #3d2da6;
  margin-top: 20px;
  margin-left: 130px;
}

#contact button:hover{
  background-color: white;
  color: #3d2da6;
  box-shadow: 1px 1px 20px white;
}

/* Design footer */
footer {
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  padding-bottom: 15vh;
  background: url(../Plan_footer/back_footer.png);
  background-size: 100% 100%;
  background-position: center;
}

#bas-footer{
  width: 20vw;
}
.logo-mrl{
  width: 50%;
  position: absolute;
  top: 10vw;
  left: 5vw;
}

.wakanadamarvel{
  position: relative;
  margin-right: 10vw;
  width: 23.3vw;
  height: 53vh;  
}


footer div{
  margin-right: 10vw;
}

.media{
  display: flex;
  justify-content: center;
}

.footer-media ul{
  font-family: Cantarell regular;
  display: flex;
  text-align: left;
}

.footer-media ul li {
  margin-right: 40px;
}
.social-footer h2,.media h2, .media{
  font-family: Cantarell regular;
}
.popup-message {
  position: fixed;
  width: 80%;
  height: 30vw;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20vh;
  left: 10vw;
  display: none;
}
.popup-message .popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-image: linear-gradient(to bottom right, rgba(237, 222, 191, 0.4), rgba(25, 88, 125, 0.4));
  width: 80%;
  height: 80%;
  background-color: var(--color-black);
}
.popup-message .popup-content span {
  text-transform: uppercase;
  font-family: font1;
  font-size: 5em;
}
